@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.banner-section-container{
    max-width: 1260px;
    height: 660px;
    border: 2px solid red;
    background-image: url("/assets/Hero-bg.png");
}
.banner-image-container{
    width: 30%;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    /*border: 2px solid blue;*/
}
.banner-text-container{
   /* width: 80%;
    height: 650px;
   /* margin: 0 auto;*/
   /* border: 2px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}
.banner-text-container p{
    margin-top: 30px ;
    margin-bottom:60px ;
}
.banner-text-container h1{
    font-size:40px;
}
.banner-text-container button{
    width: 200px;
    height: 64px;
    color: rgb(255, 255, 255);
    border-radius: 8px;

background: rgb(13, 19, 33);
margin-right: 60px;
}


   



 